@media only screen and (min-width: 37.5em) {
header img {
width: 80px;
height: auto;
}

h1 {
font-size: 2.5rem;
}

.navigation {
display: flex;
}
    
button {
display: none;
}

.navigation li{
display: block;
flex: 1 1 100%;
}
footer img {
display: flex;
flex-direction: row-reverse;
max-width: 1088px;
margin: 0 auto;   
margin-right: 20px;
margin-bottom: 20px;;
}
}
